/.vs
/src/ServerAppDesktop/obj
/src/ServerAppDesktop/bin
/src/ServerAppDesktop/ServerAppDesktop.csproj.user
/src/ServerAppDesktop.Helpers/bin
/src/ServerAppDesktop.Helpers/obj
/src/ServerAppDesktop.Converters/bin
/src/ServerAppDesktop.Converters/obj
/src/ServerAppDesktop.Services/obj
/src/ServerAppDesktop.Services/bin
/src/ServerAppDesktop.Controls/obj
/src/ServerAppDesktop.Controls/bin
