/.vs
/src/ServerAppDesktop/obj
/src/ServerAppDesktop/bin
/src/ServerAppDesktop/ServerAppDesktop.csproj.user
/src/ServerAppDesktop.Helpers/bin
/src/ServerAppDesktop.Helpers/obj
/src/ServerAppDesktop.Converters/bin/x64/Debug/net10.0-windows10.0.26100.0
/src/ServerAppDesktop.Converters/obj
