# === Custom Build Outputs ===
**/[Bb]in/
**/[Oo]bj/
**/[Ee]xport/

# === Visual Studio Essentials ===
.vs/
**/*.user
**/*.suo
**/*.userosscache
**/*.sln.docstates

# === Compiled Files & Temporaries ===
**/*.obj
**/*.pdb
**/*.ilk
**/*.log
**/*.tmp
**/*.cache
**/*_wpftmp.csproj

# === Package Manager ===
**/node_modules/
**/[Pp]ackages/
!**/[Pp]ackages/build/
**/*.nuget.props
**/*.nuget.targets